.message {
	border-bottom: 1px solid #aaaaaa;
	padding: 8px;
}

.message .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.message .header .left {
	display: flex;
	align-items: center;
}

.message .username {
	font-size: 24px;
}

.message .text {
	font-size: 20px;
	margin: 5px 0px 0px 0px;
}

.message .timestamp {
	font-size: 12px;
	opacity: 0.5;
}
span.right {
	margin-left: 5px;
}
.message .profileImg {
	width: 32px;
	height: 32px;
	padding-right: 5px;
}

#chatArea {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-right: 1px solid #000;
	height: 100%;
}

#messageFeed {
	overflow: auto;
	height: 400px;
	font-size: 26px;
}
