.login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding-bottom: 50px;
}

.top {
	/* border-bottom: 50px solid #ffc341; */
	padding-top: 50px;
	font-family: Greggiefont;
	color: #eee;
	font-size: 100px;
}

.bottom {
	padding-top: 300px;
	background-color: #eea1b8;
	padding-top: 50px;
	font-family: 'Greggiefont';
	color: #eee;
	font-size: 100px;
}
hr.line {
	border-top: 5px solid #eee;
}

.login .kep-login-facebook, .login .google-button {
	width: 300px;
}

.flex-container {
  padding: 0;
  /* margin: 0; */
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container2 {
	padding: 0;
	background: #eea1b8;
	/* margin: 0; */
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
  }
.center { 
  justify-content: center; 
}  

.space-evenly { 
  justify-content: space-evenly; 
}

.flex-item {
	width: 400px;
	text-align: center;
}

.flex-item2 {
	height: auto;
	display: flex;
	/* text-align: center; */
}