<!DOCTYPE html>
<html style="height: 100%">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flix With Friends</title>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
	<style>
		/* @font-face {
    		font-family: "Greggiefont";
    		src: url("../static/fonts/greggiefont-webfont.eot");
    		src: url("../static/font/greggiefont-webfont.woff") format("woff"),
        		url("../static/fonts/greggiefont-webfont.otf") format("opentype"),
       	 		url("../static/fonts/greggiefont-webfont.svg") format("svg");
		} */
		/* #content {
			height: 100%;
		} */
	</style>
</head>
<body>
	<div id="content"></div>
	<script src="/static/script.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</body>
</html>
