<!DOCTYPE html>
<html style="height: 100%">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Debug - Flix With Friends</title>

	<link rel='stylesheet' href='/static/css/debug.css'>

	<style>
		#content {
			height: 100%;
		}
	</style>
</head>
<body>
	<div>
		<p>Rooms:</p>
		<table id='roomtable'>
		</table>
	</div>
	<div>
		<p>Users:</p>
		<table id='usertable'>
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Email</th>
				<th>Profile Url</th>
				<th>Settings</th>
				<th>OAuth Id</th>
				<th>OAuth Type</th>
				<th>Sid</th>
				<th>Session Id</th>
				<th>Socket Connected</th>
				<th>Last Socket Connect</th>
			</tr>
		</table>
	</div>

	<script src='/static/js/debug.js'></script>
</body>
</html>
