.message {
	border-bottom: 1px solid #aaaaaa;
	padding: 8px;
}

.message .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.message .header .left {
	display: flex;
	align-items: center;
}

.message .username {
	font-size: 14px;
	font-weight: bold;
}

.message .text {
	font-size: 14px;
	margin: 5px 0px 0px 0px;
}

.message .timestamp {
	font-size: 12px;
	opacity: 0.5;
}

.message .profileImg {
	width: 32px;
	height: 32px;
	padding-right: 5px;
}

#chatArea {
	width: 360px;
	height: 100%;
}

#messageFeed {
	overflow: auto;
}
