body {
  background-color: #ffc341;
}

.header {
  padding: 20px;
  background: #333333;
  display: flex;

}

.header img {
  float: left;
}

.Content
{
    position: relative;
    z-index: 1;
}
    .Content:after
    {
        content: '';
        clear: both;
        display: block;
    }

.Wrapper
{
    /*position: absolute;*/
    width: 80%;
    height: 60%;
}
    .Wrapper > div
    {
        height: 100%;
    }

.LeftContent
{
    /*background-color: purple;*/
    overflow: hidden;
}
.LeftContent:hover
{
    overflow: auto;
}
.RightContent
{
    background-color: orange;
    float: right;
    margin-left: 10px;
}