#host-options {
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;

	padding: 15px 10px;
	width: 100%;
}

#host-options input[type='number'] {
	width: 60px;
}

#lbl-vote-threshold-percentage {
	position: relative;
	top: -2px;
	font-size: 12px;
}

#vote-percent-sign {
	margin-left: 4px;
}

#vote-disabled {
	color: #dd0000;
	font-size: 12px;
	margin-left: 4px;
}
