.login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.top {
	border-bottom: 50px solid #ffc341;
	padding-top: 50px;
	font-family: Greggiefont;
	color: #eee;
	font-size: 100px;
}

hr.line {
	border-top: 5px solid #eee;
  /*background-color: #eee;*/
	/*box-shadow: 5px 10px #fff;*/

}

/*	background-color: #ffc341;*/
/*}*/

/*.login .section {*/
/*	margin-bottom: 10px;*/
/*}*/

/*.login .fb-img {*/
/*	display: block;*/
/*	margin: auto;*/
/*	padding-bottom: 20px;*/
/*}*/

/*.login .google-img {*/
/*	display: block;*/
/*	margin: auto;*/
/*	padding-bottom: 20px;*/
/*}*/

/*.login .twitter-img {*/
/*	display: block;*/
/*	margin: auto;*/
/*	padding-bottom: 20px;*/
/*}*/

.login .kep-login-facebook, .login .google-button {
	width: 300px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center { 
  justify-content: center; 
}  

.space-evenly { 
  justify-content: space-evenly; 
}

.space-evenly li {
  background: #bada55; 
}

.flex-item {
	width: 400px;
	text-align: center;
}