.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;

	background-color: #ffc341;
}

.login .section {
	margin-bottom: 10px;
}

.login .fb-img {
	display: block;
	margin: auto;
	padding-bottom: 20px;
}

.login .kep-login-facebook, .login .google-button {
	width: 300px;
}
