body {
    background-color: #ffc341;
}

.header {
  padding: 20px;
  background: #333333;
  display: flex;
  
}

.header img {
  float: left;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}