body {
  background-color: #eea1b8;
}

.header {
  padding: 20px;
  background: #333333;
  display: flex;
  
}

.header img {
  float: left;
}

.fb_button {
  display: flex;
  /*padding-left: 42px;*/
  padding-bottom: 20px;
}

.popcorn_button {
  display: flex;
  /*padding-right: 42px;*/
  padding-bottom: 35px;
}

.button {
  font-family: Helvetica,sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: calc(.27548vw + 12.71074px);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s,border-color .3s;
  background-color: #ffc341;
  border: calc(.06887vw + .67769px);
  padding: calc(.34435vw + 13.38843px) calc(.34435vw + 18.38843px);
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  display: flex;
  background-color: #00c9c8;
  margin-top: 146px;
  margin-left: 16px;
}

.right {
  right: 0;
  display: flex;
  background-color: #eea1b8;
  margin-top: 146px;
  margin-right: 16px;
  /*background-color: red;*/
}
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
